.sign-up-container{
  display: flex;
  flex-direction: column;
  width : 380px;
  margin-right: 50px;
}

h2{
  margin : 10px , 0px ; 
}
.buttons-container{
  width: 23 vw;
  display: flex;
  justify-content: space-between;
}